---

---

<style>
  #task-220-div {
    max-width: 600px;
    height: 300px;
    border: solid 1px;
    position: relative;
    border: solid 1px black;
  }
</style>

<div id="task-220-div">
</div>

<script>
  import {addDiagonalsIntoDiv} from './task'
  const divElem = document.getElementById("task-220-div");
  addDiagonalsIntoDiv(divElem);
</script>
