---

---

<button id="place-in-the-center" style="margin-bottom: 20px;"
  >Поместить в центр</button
>

<div
  style="position: relative;height:calc(100vh - 220px);border: 1px solid "
  id="div-container-task218"
>
  <div
    class="div-task-218"
    style="width:300px;height:400px;border: solid blue;position: absolute; bottom:100px;left:70px;"
  >
  </div>

  <div
    class="div-task-218"
    style="width:350px;height:500px;border:solid chocolate;position: absolute; top:50px; right:250px;"
  >
  </div>
</div>

<script>
  import { placeIntoCenter } from "./task";
  const button = document.getElementById("place-in-the-center");
  const [div1, div2] = document.querySelectorAll(".div-task-218");

  button?.addEventListener("click", () => {
    placeIntoCenter(div1, div2);
  });
</script>
