* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.page-title {
    margin: 0 0 20px 0;
    background-color: beige;
    padding: 20px 5px 20px 10px;
}

.task-container {
    margin: 0 20px;
}

.task-header {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0.5em 0;
}

input {
    padding: 5px;
    font-size: large;
}