---

---

<style>
  #div-226 {
    width: 90vw;
    height: 70vh;
    border: solid 1px black;
    margin: 0 auto;
  }
  #div-226 > canvas {
    width: 100%;
    height: 100%;
    /* position: absolute;
    top: 0;
    left: 0; */
  }
</style>
<div id="div-226">
  <canvas></canvas>
</div>
<script>
  import { drowFlower } from "./task";
  const canvElem = document.querySelector("#div-226>canvas");
  drowFlower(canvElem);
</script>
