---
import "../style.css";
import Title from "../components/Title.astro";
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Занимательные задачи javascript от code.mu</title>
  </head>
  <body>
    <Title
      >Занимательные задачи javascript от <a
        href="https://code.mu/ru"
        target="_blank">code.mu</a
      ></Title
    >
    <slot />
  </body>
</html>
