---
import Layout from "./Layout.astro";

const { number, title, description } = Astro.props;
---

<Layout>
  <div class="task-container">
    <div class="task-header">
      <h3>{number}. {title}</h3>
      <p>{description}</p>
    </div>
    <slot />
  </div>
</Layout>
