---
import Layout from "./Layout.astro";

const { number, title, description } = Astro.props;
---

<Layout>
  <div class="task-container">
    <div class="task-header">
      <h3>{number}. {title}</h3>
      <p>{description}</p>
      <!-- <p style="position: absolute; right:0; top:0; padding-right:10px;"><a href="/">Все задачи</a></p> -->
    </div>
    <slot />
  </div>
</Layout>
